.row
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h4 Uber
      .panel-body
        %p description
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h4 Bellhops
      .panel-body
        %p description
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h4 Lyft
      .panel-body
        %p description
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h4 Task Rabbit
      .panel-body
        %p description
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h4 Deliv
      .panel-body
        %p description
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h4 Favor
      .panel-body
        %p description
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h4 Tote
      .panel-body
        %p description
  .col-sm-3
    .panel.panel-default
      .panel-heading
        %h4 Job Runner
      .panel-body
        %p description