
<h1>Index#find_work</h1>
<p>Find me in app/views/index/find_work.html.erb</p>

<div class="row">
<h4>I can use</h4>

 	<ul class="container-fluid">
    	<% @skill.each do |skill| %>
    		<div class="col-md-3">
    			<%= check_box_tag(:skill)%>
    			<%= skill.name %>
    		</div>
    	<% end %>
    </ul><br />

<%=  link_to "Find Jobs", companies_path, class: "btn btn-success"%>
	

